#home {

    overflow-x: hidden;
}

#videoContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
    opacity: 0.25;
}

video {
    height: 100vh;
    width: auto;
    position: fixed;
    top: 0;
    left: -110vw;
    z-index: -2;
}

.texto-home {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 80px;
    color: rgb(250, 250, 250);
}