.image-login {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.texto-login {
    margin-left: 16px;
}

.botao {
    margin-left: 100px;
}